.battleScreen {
  width: 80%;
}
.battleContainer {
  display: flex;
  justify-content: space-between;
  img {
    height: 300px;
    width: 230px;
  }
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.playerHP {
  height: 30px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enemyHP {
  height: 30px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerMana {
  height: 30px;
  background-color: rgb(0, 23, 128);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hpDisplay {
  position: absolute;
  margin: 0;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.hpDisplayE {
  position: absolute;
  margin: 0;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: red;
}
.manaDisplay {
  position: absolute;
  margin: 0;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.hpContainer,
.hpContainerE {
  border: 2px solid black;
  height: 34px;
  position: relative;
  font-weight: bolder;
  font-size: 24px;
}
.manaContainer {
  border: 2px solid black;
  color: white;
  font-weight: bolder;
  height: 34px;
  font-size: 24px;
  position: relative;
}